body {
    font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    color: #333;
}

/* 顶部栏 */
.topBar {
    width: 100%;
    height: 40px;
    background-color: #333;
}

.container {
    width: 1226px;
    height: 40px;
    margin: 0 auto;
}

.topBar .list {
    float: left;
}

.topBar .login {
    float: right;
}

.topBar .shoppingCar {
    float: right;
    width: 120px;
    margin-left: 15px;
    height: 40px;
    line-height: 40px;
    /* 文本水平居中 */
    text-align: center;
    background-color: #424242;
}

.topBar .shoppingCar a {
    height: 40px;
    width: 120px;
    display: inline-block;
}

.topBar a {
    color: #b0b0b0;
    font-size: 12px;
    /* 准换成行内块，这样就可以设置宽高 */
    display: inline-block;
    line-height: 40px;
}

/* 鼠标悬浮时改变颜色 */
.topBar a:hover {
    color: #fff;
}

.topBar span {
    color: #424242;
    margin: 0 .3em;
}

/* 顶部栏end */

/* 导航栏 */
.header {
    height: 100px;
}

.header .site-logo {
    float: left;
    width: 62px;
    margin-top: 20px;
}

.header .site-logo a {
    display: inline-block;
    height: 56px;
    width: 56px;
}

.header .site-list {
    float: left;
    width: 850px;
}

.header .site-list>ul {
    width: 820px;
    height: 88px;
    padding: 12px 0 0 30px;
    font-size: 16px;
}

.header .site-list>ul>li {
    float: left;
}

.header .site-list>ul>li>a {
    display: block;
    padding: 26px 10px 38px;
    color: #333;
}

.header .site-list>ul>li>a:hover {
    color: #ff6700;
}

.header .site-list ul .category>a {
    padding: 0;
}

.header .site-list ul .category {
    position: relative;
    z-index: 3;
}

.header .site-list ul .category .category-list {
    position: absolute;
    left: -93px;
    top: 88px;
    width: 234px;
    height: 460px;
    background-color: rgba(0, 0, 0, 0.6);
}

.header .site-list .category-list ul {
    width: 234px;
    height: 420px;
    padding: 20px 0;
}

.category-list ul li {
    height: 42px;
}

.category-list ul li a {
    padding-left: 30px;
    color: #fff;
    display: block;
    height: 42px;
    line-height: 42px;
    font-size: 12px;
    position: relative;
}

.category-list ul li a span {
    position: absolute;
    top: -1px;
    right: 30px;
    height: 42px;
    line-height: 42px;
    color: #fff;
    font-size: 15px;
}

.category-list ul li a:hover {
    background-color: #ff6700;
}

.header .site-search {
    float: right;
    width: 296px;
    margin-top: 25px;
}

.header .site-search form {
    position: relative;
    width: 296px;
    height: 50px;
}

.header .site-search form .search-text {
    height: 49px;
    width: 223px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    padding: 0 10px;
    float: left;
}

.header .site-search form .search-btn {
    float: left;
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
    margin-left: -1px;
}

.header .site-search form .search-word {
    position: absolute;
    top: 16px;
    right: 65px;
    font-size: 12px;

}

.header .site-search form .search-word a {
    display: inline-block;
    padding: 0 5px;
    margin-left: 5px;
    background-color: #eee;
    color: #757575;
}

.header .site-search form .search-word a:hover {
    background-color: #ff6700;
    color: #fff;
}

/* 导航栏end */

/* 内容区 */
.site-content{
    height: 846px;
}
.site-content .container{
    height: 678px;
}
.site-content .site-slider {
    position: relative;
    z-index: 2;
}

.site-content .site-slider>a {
    display: block;
    width: 1226px;
    height: 460px;
}

.site-content .site-slider>a img {
    width: 1226px;
}

.site-content .site-slider span {
    position: absolute;
    width: 41px;
    height: 69px;
    background: url(../images/icon-slides.png)no-repeat 0 0;
    top: 50%;
    margin-top: -35px;
    /* 悬浮时显示小手指针，像a标签一样 */
    cursor: pointer;
}

.site-content .site-slider .prev {
    left: 234px;
    background-position: -83px 0;
}

.site-content .site-slider .prev:hover {
    background-position: 0 0;
}

.site-content .site-slider .next {
    right: 0px;
    background-position: -123px 0;
}

.site-content .site-slider .next:hover {
    background-position: -41px 0;
}

.site-content .slider-item {
    position: absolute;
    width: 200px;
    height: 30px;
    bottom: 20px;
    right: 40px;
    line-height: 30px;
    text-align: right;
}

.slider-item>a {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: rgba(255, 255, 255, .2);
    margin: 0 5px;
    /* 设置外边框为圆角 */
    border-radius: 6px;
    border: 2px solid #fff;
    border-color: rgba(255, 255, 255, .3);
}

.slider-item>a:hover {
    background-color: rgba(255, 255, 255, .7);
}

/* 向导样式 */
.site-content .content-sub .content-channel {
    width: 234px;
    float: left;
}

.site-content .content-sub .content-channel ul {
    background: #5f5750;
    font-size: 12px;
    text-align: center;
}

.site-content .content-sub .content-channel ul li {
    float: left;
    width: 33.33%;
    height: 85px;
}

.site-content .content-sub .content-channel ul li a {
    display: block;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 18px;
}

.site-content .content-sub .content-channel ul li a span {
    display: block;
}

.site-content .content-sub .content-list {
    float: right;
    width: 992px;
}

.site-content .content-sub .content-list ul {
    width: 100%;
}

.site-content .content-sub .content-list ul li {
    float: left;
    width: 33.33%;
    text-align: right;
}

.site-content .content-sub .content-list ul li a {
    display: block;
    height: 170px;
}

.site-content .content-sub .content-list ul li a img {
    width: 316px;
    height: 170px;
}

.content-sub {
    margin-top: 18px;
    overflow: hidden;
}
.content-banner{
    margin-top: 18px;
    margin-bottom: 30px;
}
.content-banner .container{
    height: 150px;
}
.content-banner a{
    display: block;
    width: 1226px;
    height: 120px;
}
.content-banner a img{
    display: block;
    width: 1226px;
    height: 120px;
}
/* 内容区end */
/* 内容描述 */
.content-detail{
    padding-top: 22px;
    background-color: #f5f5f5;
    height: 700px;
}
.content-detail .box-hd{
    height: 58px;
    position: relative;
}
.content-detail .box-hd h2{
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.content-detail .box-hd .more{
    position: absolute;
    right: 0px;
    top: 0px;
}
.content-detail .box-hd .more a{
    font-size: 16px;
    line-height: 58px;
    color: #424242;
}
.content-detail .box-hd .more a i{
    height: 12px;
    width: 12px;
    border-radius: 12px;
    background-color: #b0b0b0;
    padding: 4px;
    margin-left: 8px;
    color: #fff;
    font-size: 12px;
    vertical-align: 1px;
}
.content-detail .box-hd .more:hover a{
    color: #ff6700;
}
.content-detail .box-hd .more:hover i{
    background-color: #ff6700;
}
.box-bd .row-l{
    float: left;
    width: 234px;
}
.box-bd .row-r{
    float: left;
    width: 992px;
}
.box-bd .row-l a{
    display: block;
    width: 100%;
    height: 100%;
}
.box-bd .row-l a img{
    height: 614px;
    width: 234px;
}
.box-bd .row-r ul{
    overflow: hidden;
}
.box-bd .row-r ul li{
    float: left;
    height: 260;
    width: 234px;
    padding: 20px 0;
    background: #fff;
    position: relative;
    margin-left: 14px;
    margin-bottom: 14px;
}
.box-bd .row-r ul li .figure{
    width: 160px;
    height: 160px;
    margin: 0 auto 18px;
}
.box-bd .row-r ul li .figure a{
    display: block;
}
.box-bd .row-r ul li .figure a img{
    width: 160px;
    height: 160px;
}
.box-bd .row-r ul li .title{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.box-bd .row-r ul li .title a{
    color: #333;
}
.box-bd .row-r ul li .desc{
    height: 18px;
    font-size: 12px;
    text-align: center;
    color: #b0b0b0;
    margin: 0 10px 10px;
    overflow: hidden;
    /* 不允许文本换行显示 */
    white-space: nowrap;
    /* 超出范围的文本用省略号 */
    text-overflow: ellipsis;
}
.box-bd .row-r ul li .price{
    text-align: center;
    color: #ff6700;
}
.box-bd .row-r ul li .flag{
    position: absolute;
    top: 0;
    left: 85px;
    background-color: #83c44e;
    color: #fff;
    width: 64px;
    height: 20px;
    text-align: center;
}
/* 内容描述end */
/* 脚部 */
.footer .footer-service{
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}
.footer .footer-service ul li{
    float: left;
    height: 25px;
    width: 19.8%;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    border-left: 1px solid #e0e0e0;
}
.footer .footer-service ul .first{
    border-left: 0;
}
.footer .footer-service ul li a{
    color: #616161;
}
.footer .footer-service ul li:hover a{
    color: #ff6700;
}
.footer .footer-link{
    padding: 40px 0;
}
.footer .footer-link .first{
    padding-left: 120px;
}
.footer .footer-link dl{
    width: 160px;
    height: 112px;
    float: left;
}
.footer .footer-link dl dt{
    margin-bottom: 18px;
    font-size: 16px;
    color: #424242;
}
.footer .footer-link dl dd{
    font-size: 12px;
    margin-top: 10px;
}
.footer .footer-link dl dd a{
    color: #757575;
}
.footer .footer-link .col-contact{
    float: right;
    width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
}
.footer .footer-link .col-contact .phone{
    color: #ff6700;
    font-size: 22px;
}
.footer .footer-link .col-contact .time{
    font-size: 12px;
    color: #424242;
}
.footer .footer-link .col-contact a{
    display: inline-block;
    width: 118px;
    height: 28px;
    border: 1px solid #ff6700;
    color: #ff6700;
    font-size: 12px;
}
.footer .footer-link .col-contact a:hover{
    color: #fff;
    background-color: #ff6700;
}
/* 脚部end */
.clearfix::after {
    content: '';
    clear: both;
    display: block;
}